.main {
  display: flex;
  font-size: 1rem;
  height: 100vh;
}

.menu {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  font-family: mono;
  font-size: 1.2rem;
  min-width: fit-content;
  overflow-y: auto;
}

.content {
  flex: 1;
  display: inline-flex;
  overflow-x: scroll;
}

@media screen and (max-width: 400px) {
  .main {
    flex-direction: column-reverse;
  }
  .menu {
    border-top: 1px solid gray;
    padding: 2px;
    flex-direction: row;
    min-width: 100%;
    overflow: scroll;
  }
}
