$note-size: 3rem;
$note-background-color: white;
$note-border: 1px solid black;
$note-font-size: 1.5rem;
$note-font-family: "Courier";
$note-font-color: black;
$note-hover-background-color: beige;
$note-hover-font-color: black;
$note-pressed-background-color: lightblue;
$note-fret-border: 2px solid darkgray;
$note-fret-font-color: darkgray;

.note {
  appearance: none;
  background-color: $note-background-color;
  border: 0;
  border-bottom: $note-fret-border;
  border-right: $note-border;
  cursor: pointer;
  display: flex;
  height: $note-size;
  outline: none;
  width: $note-size;

  // show fret when string position is 0
  &[data-position="0"] {
    border-right-color: transparent;

    &:after {
      cursor: default;
      position: relative;
      background-color: white;
      content: attr(data-fret);
      display: flex;
      height: $note-size;
      align-items: center;
      right: -0.5rem;
    }
  }

  &[data-fret="open"] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &[data-progression-step] {
    background-color: cyan;
    &:before {
      position: relative;
      content: attr(data-progression-step);
      display: block;
      font-family: monospace;
      padding: 0.2rem;
    }
  }

  &:hover {
    color: $note-hover-font-color;
    background-color: $note-hover-background-color;
  }

  &[aria-pressed="true"] {
    background-color: $note-pressed-background-color;
  }
}

[data-last-string="true"] {
  // .note[data-bullet]:before {
  //     cursor: default;
  //     position: absolute;
  //     color: inherit;
  //     background-color: white;
  //     display: flex;
  //     min-width: 1ch;
  //     height: $note-size;
  //     align-items: center;
  //     margin-left: -1rem;
  //     content: attr(data-bullet);
  //     font-size: 1.2rem;
  //     display: flex;
  // }
}

.full,
.semi {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  font-family: $note-font-family;
  font-size: $note-font-size;
  line-height: 3rem;
  color: $note-font-color;
}

.semi {
  [data-sharp="true"],
  [data-minor="true"] {
    flex: 1;
    font-size: 0.8rem;
  }
}

main {
  // hide major
  &:not([data-view*="major"]) {
    .note [data-major="true"] {
      display: none;
    }
  }

  // hide sharp
  &:not([data-view*="sharp"]) {
    .note [data-sharp="true"] {
      display: none;
    }
  }

  &:not([data-view*="minor"]) {
    .note [data-minor="true"] {
      display: none;
    }
  }

  &:not([data-view*="fret"]) {
    .note:after {
      content: none;
    }
  }
}
