@import "./mixins";
@import "./variables";


.content_chord_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    margin-top: 1rem;
    padding: 1ch;
    justify-content: center;
}

.content_chord_item {
    display: flex;
    place-self: start;
    margin-bottom: 0.5ch;

    &:nth-child(2n-1) {
        place-self: end;
    }
}

.content_chord_note {
    font-family: $font-family-sans;
    font-size: 0.8rem;
    color: var(--subtle);

    display: inline-flex;
    width: 4.5ch;
    height: 4.5ch;

    justify-content: space-around;
    align-items: center;
    margin-right: 0.5ch;

    border-radius: 50%;
    border: 2px solid var(--highlight_high);
    background-color: var(--base);

    &:last-child {
        margin-right: 0;
    }

    &:not(strong) {
        &:hover,
        &:target,
        &:focus-within {
            border-color: var(--iris);
            color: var(--iris);
        }
    }
}

strong.content_chord_note {
    border-color: transparent;
    font-weight: 600;
    background-color: var(--highlight_low);
    color: var(--gold);
}