@import "./mixins";
@import "./variables";

.arm_string {
  position: relative;
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

[data-instrument="banjo"] .arm_string[data-position="4"] {
  margin-top: $note-height * 5;
  margin-left: inherit;

  @include for-tablet-landscape-up {
    margin-top: inherit;
    margin-left: $note-height * 5;
  }
}

.arm_string_cord {
  position: absolute;
  display: block;
  pointer-events: none;
  cursor: none;

  background-color: $string-color;
  color: $string-font-color;

  top: -$note-width;
  bottom: -$note-width;
  left: 49%;
  width: 1px;
  z-index: $string-cord-z;

  @include for-tablet-landscape-up {
    top: 50%;
    right: -$note-width;
    left: -$note-width;
    height: 1px;
    width: unset;
  }

  &::before {
    content: attr(data-string);
    cursor: default;
    pointer-events: none;
    display: flex;
    position: relative;

    background-color: $arm-background-color;
    color: inherit;
    font-family: $note-font-family;
    font-size: 1rem;

    min-height: 1.2rem;
    width: 1.2rem;

    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    left: -0.5rem;
    top: 0;

    @include for-tablet-landscape-up {
      padding: 0.2rem;
      left: 0;
      top: -0.8rem;
    }
  }
}

.arm_string:hover {
  .arm_string_cord {
    color: $string-font-color-hover;
  }
}

.note {
  appearance: none;
  outline: none;
  background-color: $note-background-color;
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: $note-fret-border-color;
  display: flex;
  position: relative;
  height: $note-height;
  width: $note-width;
  cursor: pointer;
  transition: background-color 100ms linear;


  &[data-fret="0"] {
    position: sticky;
    top: 0;
    z-index: $sticky-note-z;
  }

  &:hover {
    background-color: $note-background-color-hover;

    .note_label {
      color: $note-font-color-hover;
    }
  }

  @include for-tablet-landscape-up {
    height: $note-width;
    width: $note-height;

    border-bottom-width: 0;
    border-right-width: 1px;

    &[data-fret="0"] {
      left: 0;
    }
  }

}

.note_label {
  color: $note-font-color;
  font-family: $note-font-family;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  place-content: center;
  display: flex;
  font-size: $note-font-size;
  transition: color 100ms linear;
}

[data-fret="open"] .note_label {
  color: $note-open-font-color;
}

:not([data-fret="open"])[data-semi="true"] {

  &:hover .note_label {
    color: $note-font-color-hover;
  }

  .note_label {
    color: $note-semi-font-color;
  }
}

[data-hidden="true"] .note_label {
  opacity: 0;
}

$fret-gap: 1.02;

.note_fret {
  cursor: none;
  user-select: none;
  pointer-events: none;
  align-items: center;

  color: $note-fret-font-color;
  font-size: $note-fret-font-size;
  background-color: $body-background-color;

  display: flex;
  position: absolute;

  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  transform: translate($note-width * $fret-gap, 0);

  &[data-bullet="true"] {
    color: $note-fret-bullet-font-color;
  }

  @include for-tablet-landscape-up {
    transform: translate(0, $note-width * -$fret-gap);
  }
}