@import "./mixins";
@import "./variables";

.arm_string {
  position: relative;
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $string-color;
    cursor: none;
    pointer-events: none;
    top: -$note-size;
    bottom: -$note-size;
    left: 49%;
    width: 1px;

    @include for-tablet-landscape-up {
      top: 49%;
      right: -$note-size;
      left: -$note-size;
      height: 1px;
      width: unset;
    }
  }
}

.note {
  appearance: none;
  outline: none;
  background-color: $note-background-color;
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: $note-fret-border-color;
  display: flex;
  position: relative;
  height: $note-size;
  width: $note-size;
  //transition: background-color 100ms linear 100ms;

  @include for-tablet-landscape-up {
    border-bottom-width: 0;
    border-right-width: 1px;
  }
}

.note_label {
  color: $note-font-color;
  font-family: $note-font-family;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  place-content: center;
  display: flex;
  font-size: $note-font-size;

  &:hover {
    background-color: $note-background-color-hover;
    color: $note-font-color-hover;
  }
}

[data-fret="open"] .note_label {
  color: $note-open-font-color;
}

$fret-gap: 1.2;
.note_fret {
  cursor: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  transform: translate($note-size * $fret-gap, 0);
  color: $note-fret-font-color;
  font-size: $note-fret-font-size;

  &[data-bullet="true"] {
    color: $note-fret-bullet-font-color;
  }

  @include for-tablet-landscape-up {
    transform: translate(0, $note-size * -$fret-gap);
  }
}