@import "./mixins";
@import "./variables";

.arm_string {
    position: relative;
    display: flex;
    flex-direction: column;
}

[data-instrument="banjo"] .arm_string[data-position="4"] {
    margin-top: $note-height * 5;
    margin-left: inherit;
}

.arm_string_cord {
    position: absolute;
    display: block;
    pointer-events: none;
    cursor: none;

    background-color: $string-color;

    top: -$note-width;
    bottom: -$note-width;
    left: 49%;
    width: 1px;
    z-index: $string-cord-z;
}

.arm_string_cord::before {
    content: attr(data-string);
    cursor: default;
    pointer-events: none;
    display: flex;
    position: relative;

    background-color: $arm-background-color;
    color: $string-font-color;
    font-family: $font-family-mono;
    font-size: 1rem;


    min-height: 1.2rem;
    width: 1.2rem;

    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    left: -0.5rem;
    top: 0;
}

.arm_string:hover .arm_string_cord::before {
    color: $string-font-color-hover;
}

.arm_string[data-is-pressed="true"] .arm_string_cord::before {
    color: $string-font-color-hover;
}