@import "./mixins";
@import "./variables";
@import "./instrument-string";


.note {
  font-family: $font-family-mono;
  font-weight: 300;
  appearance: none;
  outline: none;
  background-color: $note-background-color;
  border: 1px solid $note-background-color;
  border-bottom: 1px solid $note-fret-border-color;
  display: flex;
  position: relative;
  height: $note-height;
  width: $note-width;
  cursor: pointer;
  transition: background-color $note-transition,
    border-color $note-transition,
    color $note-transition;

  //@include for-tablet-landscape-up {
  //  height: $note-width;
  //  width: $note-height;
  //
  //  border-bottom-color: transparent;
  //  border-right-color: $note-fret-border-color;
  //
  //  &[data-fret="0"] {
  //    left: 0;
  //  }
  //}
}

.note:focus-within {
  background-color: $note-background-color-hover;
}

.note:hover:not(.note[aria-pressed="true"]) {
  background-color: $note-background-color-hover;

  .note_label {
    color: $note-font-color-hover;
  }
}

.note[aria-pressed="true"] {
  border-color: $note-border-color-pressed;
  background-color: $note-background-color-pressed;

  .note_label {
    color: $note-font-color-pressed;
  }
}


.note[data-fret="0"] {
  position: sticky;
  top: 0;
  z-index: $sticky-note-z;
}


.note_label {
  color: $note-font-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  place-content: center;
  display: flex;
  font-size: $note-font-size;
  transition: color $note-transition;
}

// .note[data-fret="open"] .note_label {
//   color: $note-open-font-color;
// }

// .note:not([data-fret="open"])[data-semi="true"] {

//   &:hover .note_label {
//     color: $note-font-color-hover;
//   }

//   .note_label {
//     color: $note-semi-font-color;
//   }
// }

.note[data-hidden="true"] .note_label {
  opacity: 0;
}

.note_fret {
  $fret-gap: 1.5;

  cursor: none;
  user-select: none;
  pointer-events: none;
  align-items: center;

  color: $note-fret-font-color;
  font-size: $note-fret-font-size;
  background-color: $body-background-color;

  display: flex;
  position: absolute;

  //justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  transform: translate($note-width * $fret-gap, 0);

  &[data-bullet="true"] {
    color: $note-fret-bullet-font-color;
  }

  //@include for-tablet-landscape-up {
  //  transform: translate(0, $note-width * -$fret-gap);
  //}
}