@use "sass:color";
@import "./mixins";
@import "./variables";

.app_main {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.app_content {
    display: flex;
    flex: 1;

    @include for-tablet-landscape-up {
        align-items: center;
    }
}

/*Instrument*/

.instrument_arm {
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
    margin: auto;
    padding: ($note-height * 1.5) 0;

    //$spread: 10rem;
    //$shadow: var(--foam);
    //filter: drop-shadow(2px 0rem $spread $shadow);

    @include for-tablet-landscape-up {
        //filter: drop-shadow(0px 2rem $spread $shadow);
        padding: 0 ($note-height * 2);
        flex-direction: column;
    }
}

.header {
    position: relative;
}