@use "sass:color";
@import "./mixins";
@import "./variables";

.app_main {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: $z-index-instrument;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.app_content {
    display: flex;
    flex: 1;
    overflow-x: hidden;
}

.instrument {
    $scale-duration: 1.5;
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
    margin: auto;
    padding: ($note-height * 1.5) 0;
    margin-top: 5rem;
    transition: transform ($menu-transition-time-in * $scale-duration) ease-out;

    &[data-dir="right"] {
        flex-direction: row;
    }

    &[data-state="left-menu"] {
        transform: translateX($menu-wrapper-size);
        transition-duration: $menu-transition-time-out * $scale-duration;
    }


    @include for-tablet-portrait-up() {
        &[data-state="left-menu"] {
            transform: translateX($menu-wrapper-size * 0.5);
        }
    }

    @include for-tablet-landscape-up() {
        &[data-state="left-menu"] {
            transform: translateX($menu-wrapper-size * 0.4);
        }
    }
    @include for-desktop-up() {
        &[data-state="left-menu"] {
            transform: translateX(0);
        }
    }
}

.menu {
    top: 0;
    left: 0;
    z-index: $z-index-header;
    position: absolute;

}