@import "./mixins";
@import "./variables";

.menu {
    display: inline-flex;
}

.menu_trigger {
    display: inline-block;
    padding: 0;
    font-size: 0;
    user-select: none;
    cursor: pointer;
}

svg {
    fill: var(--subtle);

    &:hover {
        fill: var(--gold);
    }
}

.menu[open] .menu_trigger {
    border-color: var(--gold);
    color: var(--gold)
}

.menu_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--base);
    color: var(--text);
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 1rem;
    padding: 1rem 0;
    width: fit-content;

    &[aria-hidden="true"] {
        display: none;
    }

    //@include for-tablet-landscape-up {
    //    flex-direction: row;
    //}

    fieldset {
        padding: 1rem;
        width: fit-content;
        border-color: var(--foan);
        border-style: groove;
        margin-bottom: 2rem;

        &:last-child {
            margin-right: 0;
        }

        @include for-tablet-landscape-up {
            margin-bottom: inherit;
            margin-right: 2rem;
        }

    }

    legend {
        font-size: 1.4rem;
        padding: 0 0.3rem;
    }

    input {
        margin-right: 0.5rem;
    }
}


select {
    cursor: pointer;

    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}

select,
option {
    background-color: transparent;
    color: var(--text);
    font-size: 1.4rem;
    border-style: none;
    border: 0;
    outline: 0;
}

option {
    background-color: var(--surface);
}

.checkbox_field {
    display: inline-flex;
    align-items: baseline;

    &:not(:last-of-type) {
        margin-right: 1rem;
    }

    label,
    input[type="checkbox"] {
        font-size: 1.4rem;
        cursor: pointer;
        user-select: none;
    }

    input[type="checkbox"] {
        appearance: none;
        outline: none;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1.2rem;
        border: 1px solid var(--text);

        &:checked {
            background-color: var(--muted);
        }
    }
}