@import "./mixins";
@import "./variables";

.menu {
  position: fixed;
  top: calc(100% - $menu-bar-height);
  max-width: $menu-bar-width;
  width: 100%;
  height: inherit;
  transform: translate(0, 0);
  background-color: var(--overlay);
  transition: top 0.2s ease-out;
  z-index: 1;

  @for $i from 1 through 10 {
    &[data-tilt="#{$i}"] {
      top: calc(100% + ($i * $menu-bar-height * -1));
    }
  }
}

.menu_bar {
  display: flex;
  align-items: center;
  height: $menu-bar-height;
  background-color: var(--surface);
  justify-content: center;
  content-visibility: visible;
}

@mixin menu_base() {
  display: inline-flex;
  width: 3rem;
  height: $menu-bar-height * 0.9;

  padding: 1rem;
  margin-right: 1px;
  align-items: center;
  justify-content: center;

  color: var(--text);
  font-size: 1rem;
  font-family: $font-family-mono;
  font-weight: 600;
  border: 1px solid var(--highlight_med);

  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s linear;

  &:last-of-type {
    margin-right: 0;
  }

  &:first-of-type {
    margin-left: 1px;
  }
}

.menu_toggle {
  @include menu_base();
  font-weight: 600;

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover {
    background-color: var(--overlay);
  }

  &[data-option="a"] {
    color: var(--rose);
  }

  &[data-option="b"] {
    color: var(--gold);
  }
}

.menu_trigger {
  @include menu_base();

  &:hover {
    color: var(--gold);
    background-color: var(--overlay);
  }

  &[data-active="true"] {
    color: var(--gold);
    background-color: var(--overlay);

    &:hover {
      background-color: var(--base);
    }
  }
}

// .menu_bar_feature {
//   display: none;
//   flex: 1;
//   place-self: stretch;
//   background-color: var(--overlay);
//   border: 3px solid var(--surface);
//   border-right-width: 1px;
// }

// [data-state="initial"] .menu_bar_feature[data-target="initial"] {
//   display: flex;
// }

// [data-state="content"] .menu_bar_feature[data-target="content"] {
//   display: flex;
// }

// .menu_field {
//   display: flex;
//   flex-direction: column;
//   margin: 0 1rem 2rem 1rem;
//   padding: 0;
// }

// .menu_field_legend {
//   appearance: none;
//   display: flex;
//   font-size: 1.2rem;
//   font-weight: 300;
//   color: var(--subtle);
//   margin-right: 1ch;
//   margin-bottom: 0.1ch;
// }

// // specific to string tuning
// .menu_string_tuning_label {
//   color: var(--muted);
//   font-size: 0.8rem;
//   padding-left: 0.2rem;
// }

// .menu_string_tuning_wrapper {
//   flex-direction: row;
//   display: flex;
// }

// .menu_string_tuning {
//   display: flex;
//   flex-direction: column;
//   margin-top: 0.4rem;

//   &:not(:last-child) {
//     margin-right: 0.4rem;
//   }
// }

// .checkbox_field {
//   display: inline-flex;
//   align-items: baseline;

//   &:not(:last-of-type) {
//     margin-right: 1rem;
//   }
// }

// // FORMS

// $form-element-hover: var(--gold);

// select {
//   appearance: none;
//   outline: 0;
//   border: 0;

//   display: flex;
//   width: fit-content;
//   cursor: pointer;
//   color: var(--text);
//   background-color: transparent;

//   font-family: $font-family-serif;
//   font-size: 1.2rem;
//   text-decoration: underline;
//   text-underline-offset: 4px;
//   font-weight: 300;
//   text-align: left;

//   margin-right: 0.2rem;

//   &:hover,
//   &:focus-visible {
//     color: $form-element-hover;
//   }
// }

// option {
//   border-style: none;
//   color: var(--text);
//   background-color: var(--surface);
// }

// label,
// input[type="checkbox"] {
//   cursor: pointer;
//   user-select: none;
//   font-family: $font-family-serif;
//   font-size: 1.2rem;
//   font-weight: 300;
// }

// input[type="checkbox"] {
//   $size: 1rem;
//   appearance: none;
//   outline: none;

//   display: block;
//   background-color: transparent;

//   position: relative;
//   width: $size * 1.2;
//   height: $size * 1.2;

//   margin-right: 0.2rem;
//   align-self: center;
//   padding: 0.2rem;

//   transition: background-color 0.2s linear;

//   &:hover::after,
//   &:focus-visible::after,
//   &:focus-visible:checked::after,
//   &:hover:checked::after {
//     color: $form-element-hover;
//   }

//   &::after {
//     display: flex;
//     color: var(--text);
//     content: "⭘";
//     position: absolute;
//     align-items: center;
//     justify-content: space-around;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }

//   &:checked:after {
//     content: "◉";
//     color: var(--text);
//   }
// }