@import "./mixins";
@import "./variables";


$item-size: 4.5ch;
$item-font-family: $font-family-sans;
$item-font-size: 0.8rem;

.menu_chords {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &[aria-hidden="true"] {
    display: none;
  }
}

.menu_chords_grid {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: calc(($item-size * -1) - 2rem);
}

.menu_chord_item {
  display: flex;
  flex-direction: column;
  margin-right: 1ch;

  &:last-child {
    margin-right: 0;
  }
}

.menu_chord_item_note {
  font-family: $item-font-family;
  font-size: $item-font-size;
  color: var(--subtle);

  display: flex;
  flex-direction: column;
  width: $item-size;
  height: $item-size;

  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5ch;

  border-radius: 50%;
  border: 2px solid var(--highlight_high);
  background-color: var(--base);

  &:last-child {
    margin-bottom: 0;
  }

  &:not(strong) {
    &[data-pressed="true"] {
      border-color: var(--gold);
    }

    &[data-match="true"] {
      border-color: var(--gold);
      color: var(--gold);
      font-weight: 400;
    }
  }
}

.menu_chord_item_lead {
  @extend .menu_chord_item_note;

  font-weight: 600;
  background-color: var(--highlight_low);
  border-color: var(--foam);
  color: var(--foam);
  margin-bottom: 0.8rem;

  &[data-match="true"] {
    color: var(--highlight_low);
    background-color: var(--foam);
    border-color: var(--foam);
  }
}

.menu_chord_ref {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 1rem;
}

.menu_chord_ref_item {
  display: flex;
  font-size: 0.8rem;
  font-family: $item-font-family;
  font-size: $item-font-size;
  width: $item-size;
  height: $item-size;
  //border: 2px solid;
  //border-radius: 50%;
  justify-content: flex-end;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 0.5ch;
  }
}