@import "./mixins";
@import "./variables";

.menu_chords {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.menu_chords_grid {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.menu_chord_item {
  display: flex;
  flex-direction: column;
  margin-right: 1ch;

  &:last-child {
    margin-right: 0;
  }
}

.menu_chord_item_note {
  font-family: $font-family-sans;
  font-size: 0.8rem;
  color: var(--subtle);

  display: flex;
  flex-direction: column;
  width: 4.5ch;
  height: 4.5ch;

  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5ch;

  border-radius: 50%;
  border: 2px solid var(--highlight_high);
  background-color: var(--base);

  &:last-child {
    margin-bottom: 0;
  }

  &:not(strong) {
    &[data-pressed="true"] {
      border-color: var(--gold);
    }

    &[data-match="true"] {
      border-color: var(--gold);
      color: var(--gold);
      font-weight: 600;
    }
  }
}

.menu_chord_item_lead {
  @extend .menu_chord_item_note;

  font-weight: 600;
  background-color: var(--highlight_low);
  border-color: var(--foam);
  color: var(--foam);
  margin-bottom: 0.8rem;

  &[data-match="true"] {
    color: var(--highlight_low);
    background-color: var(--foam);
    border-color: var(--foam);
  }
}

select {
  //appearance: none;
  outline: 0;
  border: 0;

  //display: flex;
  width: fit-content;
  cursor: pointer;
  color: var(--text);
  border: 1px solid var(--highlight_high);
  background-color: transparent;

  font-family: $font-family-serif;
  font-size: 1.2rem;
  //text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 300;
  text-align: center;

  align-self: center;
  //margin-right: 0.2rem;
  margin-top: 0.5rem;

  &:hover,
  &:focus-visible {
    color: var(--gold);
    border: 1px solid var(--gold);
  }

  &:after {
    display: block;
    content: "0";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10rem;
  }
}

option {
  color: var(--base);
  background-color: var(--text);

  &:hover {
    color: var(--text);
    background-color: var(--base);
  }
}
