@import "./mixins";
@import "./variables";
@import "./menu.chords";

.menu {
  position: fixed;
  top: calc(100% - $menu-bar-height);
  max-width: calc($menu-bar-width - 3px);
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  background-color: var(--overlay);
  transition: top 0.2s ease-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.menu_bar {
  display: flex;
  align-items: center;
  height: $menu-bar-height;
  background-color: var(--surface);
  justify-content: center;
  content-visibility: visible;
}

@mixin menu_button() {
  display: inline-flex;
  width: 3rem;
  height: $menu-bar-height * 0.9;

  padding: 1rem;
  margin-right: 1px;
  align-items: center;
  justify-content: center;

  color: var(--text);
  font-size: 1rem;
  font-family: $font-family-mono;
  font-weight: 600;
  border: 1px solid var(--highlight_med);

  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s linear;

  &:last-of-type {
    margin-right: 0;
  }

  &:first-of-type {
    margin-left: 1px;
  }
}

.menu_button_toggle {
  @include menu_button();
  font-weight: 600;

  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:hover {
    background-color: var(--overlay);
  }

  &[data-option="a"] {
    color: var(--pine);
  }

  &[data-option="b"] {
    color: var(--pine);
    background-color: var(--overlay);
  }
}

.menu_button_trigger {
  @include menu_button();

  &:hover {
    color: var(--gold);
    background-color: var(--overlay);
  }

  &[data-active="true"] {
    color: var(--gold);
    background-color: var(--overlay);

    &:hover {
      background-color: var(--base);
    }
  }
}

// .checkbox_field {
//   display: inline-flex;
//   align-items: baseline;

//   &:not(:last-of-type) {
//     margin-right: 1rem;
//   }
// }

// // FORMS

// label,
// input[type="checkbox"] {
//   cursor: pointer;
//   user-select: none;
//   font-family: $font-family-serif;
//   font-size: 1.2rem;
//   font-weight: 300;
// }

// input[type="checkbox"] {
//   $size: 1rem;
//   appearance: none;
//   outline: none;

//   display: block;
//   background-color: transparent;

//   position: relative;
//   width: $size * 1.2;
//   height: $size * 1.2;

//   margin-right: 0.2rem;
//   align-self: center;
//   padding: 0.2rem;

//   transition: background-color 0.2s linear;

//   &:hover::after,
//   &:focus-visible::after,
//   &:focus-visible:checked::after,
//   &:hover:checked::after {
//     color: $form-element-hover;
//   }

//   &::after {
//     display: flex;
//     color: var(--text);
//     content: "⭘";
//     position: absolute;
//     align-items: center;
//     justify-content: space-around;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }

//   &:checked:after {
//     content: "◉";
//     color: var(--text);
//   }
// }