@import "./variables";

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: $font-family-sans;
  background-color: $body-background-color;
  color: $body-font-color;
  font-weight: normal;
}

button {
  appearance: none;
  border: 0;
  outline: 0;
  font-family: $font-family-mono;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);

  &:hover,
  &:focus-within,
  &:active,
  &:hover {
    color: var(--gold);
  }
}
