@import "./variables";

@mixin font-reset {
    font-size: 1.4rem;
    font-family: $text-font-family;
}

.show-chord {
    @include font-reset();
    position: absolute;
    top: 2rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1em;
    transform: translateX(-50%);
}

.show-chord[data-match="true"] {
    align-self: flex-start;

    .show-chord-wrapper {
        flex: 1;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        min-height: 100%;
        min-width: 100%;
        background-color: var(--overlay);
    }

    .show-chord-label {
        font-size: 3rem;
        color: var(--gold);
        align-self: flex-start;
    }
}

.show-chord-label {
    align-self: center;
    @include font-reset();
    color: var(--text);
    font-size: 2rem;
    margin-top: 0.2rem;
    flex: 1;
}

.show-chord-preset {
    @include font-reset();
    font-size: 1.4rem;
    color: var(--text);
    flex: 1;
}

.switch-mode {
    @include font-reset();
    cursor: pointer;
    margin-top: 1rem;
    appearance: none;
    border: 0;
    outline: 0;
    text-decoration: underline;
    background-color: transparent;
    color: var(--muted);
}