$ui-font-family: 'IBM Plex Sans Condensed', sans-serif;
$text-font-family: 'IBM Plex Sans Condensed', sans-serif;
$note-font-family: 'Fragment Mono', monospace;

// GLOBAL
$body-background-color: var(--base);
$body-font-color: var(--text);

// Layers
$z-index-instrument: 1;
$z-index-header: 2;

// INSTRUMENT
$string-color: color-mix(in srgb, var(--text) 10%, transparent);
$string-font-color: var(--text);
$string-font-color-hover: var(--gold);

$arm-background-color: var(--surface);

$string-cord-z: 110;
$sticky-note-z: 100;
$note-width: 4rem;
$note-height: 4.5rem;

$note-border: 1px solid var(--muted);
$note-font-size: 1.4rem;

$pressed-color: var(--pine);
$note-font-color-pressed: $pressed-color;

$note-font-color: var(--subtle);
$note-open-font-color: var(--text);
$note-semi-font-color: color-mix(in srgb, var(--subtle) 50%, transparent);

$note-font-color-hover: $pressed-color;
$note-open-font-color-hover: $pressed-color;
$note-semi-font-color-hover: $pressed-color;

$note-background-color: var(--base);
$note-background-color-hover: var(--surface);

$note-fret-border-color: var(--highlight_med);
$note-fret-font-size: 1.1rem;
$note-fret-font-color: var(--subtle);
$note-fret-bullet-font-color: var(--gold);