$notes: "C",  "D",  "E",  "F",  "G",  "A",  "B", 
        "Cs", "Ds", "Es", "Fs", "Gs", "As", "Bs",
        "Cb", "Db", "Eb", "Fb", "Gb", "Ab", "Bb";

$font-family: sans-serif;
$font-weight: 400;

$light-color: #000;
$light-background: #fff;

$dark-color: #000;
$dark-background: gray;
