@import "./reset";
@import "./mixins";

.app-main {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100vh;
}

.app-content {
  display: flex;
  flex: 1;
  overflow-y: scroll;

  @include for-tablet-landscape-up {
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
  }
}

.menu {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  font-family: mono;
  font-size: 1.2rem;
  width: 220px;
  overflow-y: auto;

  @media screen and (max-width: $max-desktop) {
    & {
      border-top: 1px solid gray;
      padding: 0.6rem;
      flex-direction: row;
      min-width: 100%;
      overflow: scroll;
    }
  }
}

/*Instrument*/

.instrument {
  flex: 1;
  height: fit-content;
}

.arm {
  // border: 1px solid black;
  // border-bottom-color: transparent;
  // border-top-color: transparent;
  // border-top: 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: 2em;
  margin: auto;
  max-width: fit-content;
  padding: 2rem 0;
  
  @include for-tablet-landscape-up {
    padding: 0 2rem;
    flex-direction: column;
  }
}